@media only screen and (max-width: 780px) {
    .index .free-how .svg-bottom, .page-social-landing .free-how .svg-bottom, svg.flipper 
    {
         display: block !important; 
    }
	
}
@media only screen and (max-width: 1180px) {
    .bc-free-nutrition .bc-free-two-content, .bc-free-one .bc-free-two-content {
        width: 100% !important;
    }
}
.bc-head-text {

	text-align: center !important;
}
@media only screen and (max-width: 767px) {
    .bc-inner-holder {
        float: left;
        width: 100%;
        margin-top: 30px;
    }
}
.bc-inner-holder {
    margin-top: 10px;
    width: 33.33%;
    padding: 0 20px;
    text-align: left;
}
@media only screen and (max-width: 767px) {
    .bc-inner-holder p.font18 {
        float: left;
        width: calc(100% - 50px);
        padding-left: 15px;
        text-align: left;
        font-size: 16px;
    }
}

.bc-inner-holderp.font18 {
    margin-bottom: 8px;
    font-size: 18px;
    padding: 0 10px;
    color: #000000 !important;
    font-weight: 700;
}
@media only screen and (max-width: 767px) {
    .bc-inner-holder p {
        float: left;
        width: calc(100% - 50px);
        padding-left: 15px;
        text-align: left;
    }
}
.bc-inner-holder p {
    margin-bottom: 0;
    padding: 0 10px;
    padding: 0 20px !important; 
    color: #666;
}
@media only screen and (max-width: 767px) {
    .bc-inner-holder img {
        float: left;
        width: 50px;
        margin-bottom: 20px;
    }
}
.bc-inner-holder img {
    width: 50px !important;
    margin: -20px !important;
}